/* body {
    height: 100vh;
    background: linear-gradient(304deg,#D8DCFF, #AEADF0, #C38D94, #e3a539);
    animation: gradient-animation 1s ease infinite;
    background-repeat:no-repeat;
    position: relative;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    } */

body {
	background: linear-gradient(304deg,#D8DCFF, #AEADF0, #C38D94, #e3a539);
	background-size: 400% 400%;
	animation: gradient 100s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main{
    width: 800px;
    height: 500px;
    display: grid;
    background-color: #dddddd;
    grid-template-columns: repeat(2, 2fr);
    box-shadow:inset -30px -35px 30px rgb(109, 101, 101), inset 10px 20px 25px rgba(109, 101, 101, 0.343);
    border-radius: 150px;
    opacity: 80%;
    z-index: 2;
    column-gap: -10px;
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    

  }

#name {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: oblique;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background:#eeeeee;
    box-shadow:inset -10px -10px 20px #a5a5a5, 2px 2px 6px #a5a5a5;

}
#temp {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: oblique;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#eeeeee;
    border-radius: 100px;
    box-shadow:inset -10px -10px 20px #a5a5a5, 2px 2px 6px #a5a5a5;
}
#tempmax{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: oblique;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#eeeeee;
    border-radius: 100px;
    box-shadow:inset -10px -10px 20px #a5a5a5, 2px 2px 6px #a5a5a5;
}
#tempmin{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: oblique;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#eeeeee;
    border-radius: 100px;
    box-shadow:inset -10px -10px 20px #a5a5a5, 2px 2px 6px #a5a5a5;
    
}
#humidity{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: oblique;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#eeeeee;
    border-radius: 100px;
    box-shadow:inset -10px -10px 20px #a5a5a5, 2px 2px 6px #a5a5a5;
}


.min-height{
    height: 10vh;
}
.mainimg{
  width: 75%;
  justify-content: center;
  display: flex;
  align-items: center;

}
.mainname{
  font-size: 20px;
  width:100%;
  justify-content: center;
  display: flex;
  align-items: center;
  
  }
.maintemp{
  font-size: 20px;
  width: 75%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.maintempmin{
  font-size: 20px;
  width:100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.maintempmax{
  font-size: 20px;
  width:75%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.mainhumidity{
  font-size: 20px;
  width:100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
#img {
  width: 50px;
  height: 50px;

}

#imgmin{
  width: 40px;
  height: 40px;
  padding: 10px;
  
}

#imgname{
  width: 40px;
  height: 40px;
  padding: 8px;
  
}

#imgtempmini{
  width: 30px;
  height: 30px;
  padding: 8px;
  
}

#imghumidity {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.iconn{
width: 100px;
height: auto;}
.css-input {
  font-family: 'Orbitron', sans-serif;
  padding: 12px;
  font-size: 30px;
  border-width: 0px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 100px;
  box-shadow: 1px 1px 14px rgba(66,66,66,.58);
}
.css-input:focus {
  outline:none;
}
.mybutton {
  font-family: 'Orbitron', sans-serif;
	border-radius: 100px;
	border:1px solid #030303;
	display:inline-block;
	cursor:grab;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 24px;
	text-shadow:0px 1px 0px #ffffff;
}
.mybutton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.mybutton:active {
	position:relative;
	top:1px;
}
.centrebutton{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px

}
.button{
  padding-left: 15px;
}

.thunderstorm{

}
.drizzle{
  
}
.rain{

}
.snow{
  
}
.mist{

}
.clear{
  background-image:url("image/nuagess.png");
  

}
.clouds{
  background-image:url("image/nuagess.png");
  
}